@{
    Layout = "";
    var timeManagementList = new List<TimeManagement.TimeManagementList>();
    var db = Database.Open("StarterSite");
    var testTypeId = Request["TestTypeId"];
    var idproject = Request["ProjectId"];

    //get request from datepicker
    var weekOfYear = Request["WeekOfYear"];

    //get UserId and ProjectId to get UserProjectId
    var userQuery = "SELECT * " + 
                           "FROM  UserProfile WHERE  Email=@0";
    int userId=0;
    if(Session["Email"] == null){
        WebSecurity.RequireAuthenticatedUser();
        WebSecurity.Logout();
        Response.Redirect("~/Account/Logout.cshtml");
    }
    else{
         userId = db.QuerySingle(userQuery,Session["Email"]).UserId;
        // <div>UserId:@userId</div>
    }
    int projectUserId=0;
        // <div>ProjectIDAA:@Request["ProjectId"]</div>
    if(userId != 0 && Request["ProjectId"] != null && Request["ProjectId"] != ""){
       // <div>Thach: @Request["ProjectId"].AsInt()</div>
          projectUserId = Project_User.getProjectUserId(userId,Request["ProjectId"].AsInt());     
    }
    if( weekOfYear != "0" && weekOfYear!=null){
        timeManagementList = TimeManagement.getTimeManagementList(int.Parse(weekOfYear),projectUserId);
    }  
    var taskQuery = "SELECT * " + 
                          "FROM  Tasks " +  
                          "WHERE  TypeId=@0 and CategoryId=@1 ";
    var taskData = db.Query(taskQuery,testTypeId,1);
    Global_Variables.COUNT = 0;
}

<script>
    $(function () {
        $("input[id*=txt_]").keypress(function (e) {
            var keypressed = null;

            if (window.event)
                keypressed = window.event.keyCode; //IE
            else
                keypressed = e.which; //NON-IE, Standard

            if (keypressed == 0 || keypressed == 8 || keypressed == 46 || keypressed == 9) //Phím Delete và Phím Back
                return true;
		
            if (keypressed >= 65 && keypressed <= 90) // A->Z
		        return false;
	        if (keypressed >= 97 && keypressed <= 122) // a->z
		        return false;	
            //CharCode của 0 là 48 (Theo bảng mã ASCII)
            //CharCode của 9 là 57 (Theo bảng mã ASCII)
            if (keypressed < 48 || keypressed > 57)
                return false;
            return true;
        });

    });

</script>
<table width="100%">
	<thead>
		<tr>
			<th width="100px"><a href="#">Task</a></th>					
			<th width="20px">Mon</th>					
			<th width="20px">Tue</th>
			<th width="20px">Wed</th>
			<th width="20px">Thu</th>
			<th width="20px">Fri</th>
			<th width="20px" bgcolor="#ccccc0">Sat</th>
            <th width="20px" bgcolor="#ccccc0">Sun</th>
		</tr>
      
        @foreach(var item in taskData ){  
         Global_Variables.COUNT++;                      
         <tr>
              <th width="140px" align="left">@Global_Variables.COUNT.@item.Name</th>
           
                  @if(timeManagementList.Count() > 0 && timeManagementList!=null){
                       int flag_equalTask=0;
                       foreach(var itemValue in timeManagementList ){  
  
                             if(itemValue.TaskId == item.Id){
                                 flag_equalTask++;
                                 
                                 for(int j=1;j<8;j++){
                                    if(j!=7 && j!=6){
                                        @Html.Raw("<th width='20px'>")      
                                    }
                                    else{
                                         @Html.Raw("<th width='20px' bgcolor='#cccccc'>")
                                              
                                    } 
                                    if(j==1){
                                        var value =itemValue.Mon.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" })
                                       
                                    }
                                    if(j==2){
                                        var value =itemValue.Tue.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" }) 
                                    }
                                    if(j==3){
                                        var value =itemValue.Wed.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" }) 
                                    }
                                    if(j==4){
                                        var value =itemValue.Thu.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" }) 
                                    }
                                    if(j==5){
                                        var value =itemValue.Fri.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" }) 
                                    }
                                    if(j==6){
                                        var value =itemValue.Sat.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" }) 
                                    }
                                    if(j==7){
                                        var value =itemValue.Sun.ToString();if(value == "-1"){value = "";}
                                        @Html.TextBox("txt_"+item.Id+"_"+j,@value,new { @style = "width: 20px; align:right" }) 
                                    }
                                        var idImg = "img_"+item.Id+"_"+j; 
                                        <img src="../Images/arrow_down_mini.gif" width="16" height="16" align="right" name="@idImg" id="input-box1" onclick="OpenPopUp()" />  
                                      @Html.Raw(" </th>  ")

                                 }
                                 break;
                             }
                    }
                    if(flag_equalTask == 0){
                              
                              for(var i = 1; i<8;i++){
                                   if(i!=7 && i!=6){
                                        @Html.Raw("<th width='20px'>")      
                                    }
                                   else{
                                        @Html.Raw("<th width='20px' bgcolor='#cccccc'>")
                                              
                                    } 
                                                 @Html.TextBox("txt_"+item.Id+"_"+i,null,new { @style = "width: 20px; align:right" })
                                                 var idImg = "img_"+item.Id+"_"+i;
                                                 <img src="../Images/arrow_down_mini.gif" width="16" height="16" align="right" name="@idImg" id="input-box1" onclick="OpenPopUp()" />
                                         
                                         @Html.Raw(" </th>  ")
                                   }
                             
                    }
                  }
                  else{
                     for(int i = 1; i<8;i++){
                         if(i!=7 && i!=6){
                            @Html.Raw("<th width='20px'>")  
                         }
                         else{
                               @Html.Raw("<th width='20px' bgcolor='#cccccc'>")
                         }
                                   @Html.TextBox("txt_"+item.Id+"_"+i,null,new { @style = "width: 20px; align:right" })
                                   var idImg = "img_"+item.Id+"_"+i;
                                   <img src="../Images/arrow_down_mini.gif" width="16" height="16" align="right" name="@idImg" id="input-box1" onclick="OpenPopUp()" />
                               @Html.Raw(" </th>  ")
                         
                     }
                             
                }
              
        </tr>                      
        }
      </thead>	
 </table>

