<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>        
        <link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />
        @*<link rel="stylesheet" href="/Content/Site.css" />*@       
        @*Copy from Project Details page*@
        <link rel="stylesheet" href="/Content/jquery-ui.css" />        
        <script src="/Scripts/jquery-1.9.1.js"></script>
        <script src="/Scripts/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css" />
        <script type="text/javascript" src="/Scripts/jquery-te-1.3.3.min.js" charset="utf-8"></script>
        <link type="text/css" rel="stylesheet" href="/Content/jquery-te-1.3.3.css">
        <link href="~/Content/popBox1.3.0.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/theme_member.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/style_member.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="~/Scripts/popBox1.3.0.min.js"></script>  
        <script type="text/javascript" src="~/Scripts/popBox1.3.0.js"></script> 
    </head>
    <body>
        <div class="logo">
            <img src="~/Images/logo.png" alt="Logigear Logo">           
        </div>

        <div class="content">
             <div> 
                @if(WebSecurity.IsAuthenticated){
                    <form id="logoutForm" action="~/Account/Logout" method="post">
                        @AntiForgery.GetHtml()
                        <span>Hello, <strong>@WebSecurity.CurrentUserName.Split('@')[0]</strong></span>
                        <a href="javascript:document.getElementById('logoutForm').submit()">(Sign Out)</a>
                    </form>
                }
            </div>            
            <div class="header">
                 @RenderPage("~/_Header.cshtml")
            </div>
            @RenderBody()
        </div>

        <div id="footer" style="background-color: #f7f6f0">
            Copyright © @DateTime.Now.Year LogiGear Corporation. All rights reserved
        </div>       
    </body>
</html>
