@{
    Page.Title= "Manage Your Members";

    //Initalize variable;
    var db = Database.Open("StarterSite");
    WebGrid grid = null;
    var currentUserEmail  = WebSecurity.CurrentUserName;
    var currentUserId = WebSecurity.CurrentUserId;
    var projectList = Functions.getListOfProjectsFromUser(WebSecurity.CurrentUserId,true);
    var titleList = Functions.getSelectListItemOfTitle(true);
    IEnumerable<dynamic> memberList = null;

    if(IsPost){
        if(Request["Action"]=="Add"){
            db.Execute("UPDATE UserProfile SET LeaderId=@0 WHERE UserId=@1",Request["listLeader"].AsInt(),Request["UserId"].AsInt());            
        }
        
        if(Request["Action"]=="Remove"){
            db.Execute("UPDATE UserProfile SET LeaderId=0 WHERE UserId=@0",Request["UserId"].AsInt());            
        }
    }
    if(User.IsInRole("PM")){
        memberList = db.Query("SELECT * FROM UserProfile WHERE ProjectManagerId=@0",currentUserId);        
        grid = new WebGrid(memberList, canSort:false,defaultSort: "Role");        
    }
    if(User.IsInRole("LEADER")){
        memberList = db.Query("SELECT * FROM UserProfile WHERE LeaderId=@0",currentUserId);
        grid = new WebGrid(memberList,canSort:false);        
    }
    
}
<script>
    $(function () {
        $("#mm-memberlist").accordion({active: false, collapsible: true});
        $("li[id*=mem_]").click(function () {
            $("li[id*=mem_]").css({"background-color": "","font-weight":"normal"});
            var userId = $(this).attr('id').match("[0-9]+").toString();
            $.post("/Leader/MemberProfile.cshtml", { UserId: userId }, function (data) { $("#mm-memberdetails").html(data) });
            $(this).css({"background-color": "#0ff","border-radius" : "10px","font-weight": "bolder"});
        });
        $("#nav1").attr('class', 'componentActive');
        $("#nav1 a").css('color', 'blue');

    });
</script>

<style>
    li.mm-memberName:hover{
        cursor: pointer;
    }
    .mm-component{
        width: 200px;
        display: inline-block;
        margin: 20px 0 20px 0;
    }
    #mm-projectList,#mm-titleList{
        width: 120px;
    }           
</style>


<div style="width: 1000px">
    <form method="post">
        <div class="mm-component">
            @Html.Label("PROJECT")
            @Html.DropDownList("mm-projectList",null,projectList,Request["mm-projectList"],null)
        </div>
        <div class="mm-component">
            @Html.Label("TITLE")
            @Html.DropDownList("mm-titleList",null,titleList,Request["mm-titleList"],null)
        </div>
         <div class="mm-component">
            @Html.TextBox("mm-memberNameOrEmail",Request["mm-memberNameOrEmail"], new{placeholder = "Enter name or email"})
        </div>
        <div class="mm-component">
            <button style="display: inline-block" class="tk-button">Search</button>
            <button style="display: inline-block" class="tk-button"><a href="/Leader/ManageMembers.cshtml" style="text-decoration: none; color: black">View All</a></button>
        </div>
    </form>
</div>
<div style="width:  1000px; height: fit-content; padding-bottom: 20px; padding-left: 10px">  
    <div class="mm-memberlist" id="mm-memberlist"style="vertical-align: top;width: 200px; display: inline-block; margin-right: 20px; padding-top: 35px">Member List
    @if(!IsPost){
        foreach(var prj in projectList){
            if(prj.Text =="All"){continue;}
            <h4>@prj.Text</h4>
            var membersInProject = Functions.getUsersInProject(prj.Value.AsInt());
            <div>
                <ul>
                    @foreach(var mem in membersInProject){
                        if(User.IsInRole("LEADER") && mem.LeaderId== WebSecurity.CurrentUserId ){
                            <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>
                        }
                        if(User.IsInRole("PM")  && mem.ProjectManagerId==WebSecurity.CurrentUserId){
                            <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>                            
                        }                        
                    }
                </ul>
            </div>
        }
    }
    else{
        var selectedProjectId = Request["mm-projectList"].AsInt();
        var selectedTitleId = Request["mm-titleList"].AsInt();
        var memberNameOrEmail = Request["mm-memberNameOrEmail"];

        var filteredProjectList = selectedProjectId==0?db.Query("SELECT * FROM Projects"):db.Query("SELECT * FROM Projects WHERE ProjectId=@0",selectedProjectId);
        var titleRangeQuery = selectedTitleId==0?"(SELECT TitleId FROM Title) ":"(SELECT TitleId FROM Title WHERE TitleId=@1) ";

        foreach(var prj in filteredProjectList){
            var filteredMemberList = db.Query("SELECT * FROM UserProfile "+ 
                                      "WHERE UserProfile.UserId IN (SELECT UserId FROM Project_User WHERE ProjectId=@0 AND Status='True') "+
                                      "AND UserProfile.TitleId IN "+ titleRangeQuery +
                                      "AND (Email LIKE @2 OR FirstName LIKE @2 OR LastName LIKE @2)",prj.ProjectId,selectedTitleId,"%"+memberNameOrEmail+"%");
            if(filteredMemberList.Count !=0){
                <h3>@prj.ProjectName</h3>
                <div>
                    <ul>
                        @foreach(var mem in filteredMemberList){
                            if(User.IsInRole("LEADER") && mem.LeaderId== WebSecurity.CurrentUserId ){
                                <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>
                            }
                            if(User.IsInRole("PM")  && mem.ProjectManagerId==WebSecurity.CurrentUserId){
                                <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>                            
                            }
                        }
                    </ul>
                </div>
            }
        }
    }
    </div>
    <div class="mm-memberdetails" id="mm-memberdetails" style="padding-left: 3px;width: 700px; display: inline-block;"></div>
</div>
@*
<script>
    $(function () {
        $("a[id*=assignLeader]").click(function () {
            var userId = $(this).attr("id").match("[0-9].*").toString();
            $("#dialog").dialog({
                title: "Assign To Leader",
                buttons: [{ text: "Save", click: function () {
                    $.post("/Leader/ManageMembers.cshtml", { UserId: userId }, function () {
                        $("#action").attr('value', "Add");
                        $("#userAssigned").attr('value', userId);
                        $("form[name=assignToLeader]").submit();
                    });
                    $(this).dialog("close");
                }
                },
                          { text: "Cancel", click: function () { $(this).dialog("close"); } }]
            });
        });

        $("a[id*=removeLeader]").click(function () {
            var userId = $(this).attr("id").match("[0-9].*").toString();
            $.post("/Leader/ManageMembers.cshtml", { UserId: userId, Action: "Remove" }, function (data) { });
            location.reload();
        });
        // $("#nav1").css({'background-color': 'blue','border-right' : '1px solid #d4d4d4', 'border-left':'1px solid #d4d4d4'});
        $("#nav1").attr('class', 'componentActive');
        $("#nav1 a").css('color', 'blue');
    });
</script>

<form method="post" action="/Leader/MemberProfile">
    @if(grid == null){
        Response.Redirect("~/Account/Logout");
    }
    @if(grid.TotalRowCount ==0){
        <div>You don't have any members now.</div>
    }
    else{
        @grid.GetHtml(
        tableStyle: "grid",    
        headerStyle: "gridheader",
        footerStyle: "gridfooter",           
        columns: grid.Columns(            
            grid.Column(
                header: "Name",
                format: @<text>@item.FirstName @item.LastName</text>
                ),
            grid.Column(
                columnName: "UserCompanyId",
                header: "Empl. ID"
                ),
            grid.Column(
                columnName: "Email"
            ),
            grid.Column(
                header: "Title",
                format: @<text>TBD</text>
            ),
            grid.Column(
                header: "Role",
                format: @<text>@Roles.GetRolesForUser(item.Email).GetValue(0)</text>
            ),
            grid.Column(
                header: "Leader",
                format: @<text>
                            @if(item.LeaderId !=0){
                                   var leader =  db.QuerySingle("SELECT FirstName,LastName FROM UserProfile WHERE UserId=@0",item.LeaderId);
                                   <span>@leader.FirstName  @leader.LastName</span>
                                  if(User.IsInRole("PM")){                                      
                                      <a href="#" id="assignLeader_@item.UserId">Edit</a>
                                      <a href="#" id="removeLeader_@item.UserId">Remove</a>
                                  }
                              }
                              else{
                                  if(Roles.GetRolesForUser(item.Email).GetValue(0) == "MEMBER" && User.IsInRole("PM")){
                                      <a href="#"id="assignLeader_@item.UserId">Assign</a>
                                  }
                              }
                        </text>
             ),                
            grid.Column(
                header: string.Empty,
                format: @<input type="radio" value="@item.UserId" name="UserId"></input>
            )      
            )
        )
        <input type="submit" name="action" id="viewMemberDetails" value="View Profile" style="width: 120px" >
    }
    
</form>

<div id="dialog" style="display: none">
    <form method="post" name="assignToLeader">
        <h5>Please choose a leader below:</h5>
        @Html.DropDownList("listLeader",Functions.getResources(WebSecurity.CurrentUserName,false,"LEADER"))
        <input type="hidden" id="userAssigned" name="UserId">
        <input type="hidden" id="action" name="Action">        
    </form>
</div>

<div id="js">
</div>

*@