@{
    Page.Title = "Manage Time Sheet";
    var db = Database.Open("StarterSite");      
}
<script>
    $(function () {
        //Get current project
        var currentPrj = "";
        var testType = "";
        var currentFirstOfWeek = "";

        //METHOD GET INFORMATION
        $.fn.collectInfo = function () {
            currentPrj = $("#tslistProject").find(":selected").val();
            testType = $("#tsTestType").find(":selected").val();
            currentFirstOfWeek = $("#currentFirstDayOfWeek").val();
            $.post("/Leader/UserTimeSheet.cshtml", { CurrentProjectId: currentPrj, TestType: testType, CurrentFirstOfWeek: currentFirstOfWeek }, function (data) { $("#tsContent").html(data); });
        }

        $.fn.changeFirstDayOfWeek = function (day) {
            var posting = $.post("/Leader/ChangeFirstDayofWeek.cshtml", { currentFirstOfWeek: $("#currentFirstDayOfWeek").val(), additionDate: day.toString() });
            posting.done(function (data) {
                var result = $("#result").html(data).find('#fow').val();
                $("#currentFirstDayOfWeek").attr('value', result);
                $.fn.collectInfo();
            });
        }

        /*HANDLE EVENTS 
        -----------------------------------*/

        //WHEN THE PROJECT IS CHANGE
        $("#tslistProject,#tsTestType").change(function () {
            $.fn.collectInfo();
        });

        //WHEN BUTTON SEARCH IS PRESSED
        $("#SearchDate").click(function () {
            $.fn.collectInfo();
        });

        $("#paginationNext, #paginationPrevious").click(function () {
            if ($(this).text() == "Next >>") {
                $.fn.changeFirstDayOfWeek(7);
            }
            if ($(this).text() == "<< Previous") {
                $.fn.changeFirstDayOfWeek(-7);
            }
           
        });

        //SEND INFORMATION FOR THE FIRST TIME
        $.fn.collectInfo();

        //SET CSS FOR ACTIVE TAB
        $("#nav3").attr('class', 'componentActive');
        $("#nav3 a").css('color', 'blue');
    });
</script>

<div id="componentbar">
    <div id="component">
        <span style="margin-right: 10px"><strong>PROJECT :</strong></span>
        @Html.DropDownList("tslistProject",Functions.getListOfProjectsFromUser(WebSecurity.CurrentUserId))
    </div>
    <div id="component">
        <span style="margin-right: 10px"><strong>TESTING TYPE :</strong></span>
        @Html.DropDownList("tsTestType",Functions.getSelectListTestType())
    </div>
</div>

<div>
    <input type="hidden" value="@Functions.FirstDateOfWeek(DateTime.Now).ToShortDateString()" id="currentFirstDayOfWeek">
    <span id="paginationPrevious" style="color:  blue; font-weight: bolder; margin-left: 5px"><< Previous</span>
    <span id="paginationNext" style="float:  right; color:  blue;font-weight: bolder; margin-right: 5px">Next >></span>   
</div>

<div id="result"></div>
<div id="tsContent"></div>

@*
<div style="float: left; width: 150px;">
    <h2>MEMBER LIST</h2>
    <ul>
        @foreach(var member in memberList){
            <li id="mem_@member.UserId" value="@member.UserId">
                @member.FirstName
                <span>(@Functions.getTotalUnapprovedTimeSheet(member.UserId))</span>
            </li>
        }
    </ul>
</div>



<div style="float: right ;width: 850px" id="displayTasks">
    @RenderPage("~/Leader/UserTimeSheet.cshtml")
</div>
*@