@{
    Page.Title = "Manage Time Sheet";
    var db = Database.Open("StarterSite");
    
    //var data = new WebGrid(memberList);

}
<script>
    $(function () {
        $("li[id*=mem]").click(function () {
            $.post("/Leader/UserTimeSheet.cshtml", { MemberUserId: $(this).val() }, function (data) { $("#displayTasks").html(data) });

        });

        $("li[id*=mem_]").hover(
            function () { $(this).css('color', '#ff6a00'); },
            function () { $(this).css('color', '#000'); }
        );

        //Get current project
        var currentPrj = $("#tslistProject").find(":selected").val();
        $.post("/Leader/UserTimeSheet.cshtml", { CurrentProjectId: currentPrj, action: "showCurrentPrj" }, function (data) { $("#tsContent").html(data); });

        //The project is changed
        $("#tslistProject").change(function () {
           currentPrj = $("#tslistProject").find(":selected").val();
           $.post("/Leader/UserTimeSheet.cshtml", { CurrentProjectId: currentPrj, action: "showCurrentPrj" }, function (data) { $("#tsContent").html(data); });
        });
       
        //alert("da post");
    });
</script>


<div id="searchBar">
    <div id="component">
        <span><strong>Project</strong></span>
        @Html.DropDownList("tslistProject",Functions.getProjectsFromUser(WebSecurity.CurrentUserId))
    </div>
    <div id="component">
        <span><strong>StarteDate</strong></span>
        <input type="text" name="startedDatepicker">
    </div>
    <div id="component">
        <span><strong>EndDate</strong></span>
        <input type="text" name="endDatepicker">
    </div>
    <div id="component">
        <input type="button" value="Search">
    </div>
</div>

<div id="tsContent">
    aaaaaaaaaaa
   
 </div>

@*
<div style="float: left; width: 150px;">
    <h2>MEMBER LIST</h2>
    <ul>
        @foreach(var member in memberList){
            <li id="mem_@member.UserId" value="@member.UserId">
                @member.FirstName
                <span>(@Functions.getTotalUnapprovedTimeSheet(member.UserId))</span>
            </li>
        }
    </ul>
</div>



<div style="float: right ;width: 850px" id="displayTasks">
    @RenderPage("~/Leader/UserTimeSheet.cshtml")
</div>
*@