@{
    Page.Title= "Manage Your Members";

    //Initalize variable;
    var db = Database.Open("StarterSite");
    WebGrid grid = null;
    var currentUserEmail  = WebSecurity.CurrentUserName;
    var currentUserId = WebSecurity.CurrentUserId;
    var projectList = Functions.getListOfProjectsFromUser(WebSecurity.CurrentUserId,true);
    var titleList = Functions.getSelectListItemOfTitle(true);
    IEnumerable<dynamic> memberList = null;

    if(IsPost){
        if(Request["Action"]=="Add"){
            db.Execute("UPDATE UserProfile SET LeaderId=@0 WHERE UserId=@1",Request["listLeader"].AsInt(),Request["UserId"].AsInt());            
        }
        
        if(Request["Action"]=="Remove"){
            db.Execute("UPDATE UserProfile SET LeaderId=0 WHERE UserId=@0",Request["UserId"].AsInt());            
        }
    }
    if(User.IsInRole("PM")){
        memberList = db.Query("SELECT * FROM UserProfile WHERE ProjectManagerId=@0",currentUserId);        
        grid = new WebGrid(memberList, canSort:false,defaultSort: "Role");        
    }
    if(User.IsInRole("LEADER")){
        memberList = db.Query("SELECT * FROM UserProfile WHERE LeaderId=@0",currentUserId);
        grid = new WebGrid(memberList,canSort:false);        
    }
    
}
<script>
    $(function () {
        $("#mm-memberlist").accordion();
        $("li[id*=mem_]").click(function () {
            $("li[id*=mem_]").removeClass("mm-member-on");
            var userId = $(this).attr('id').match("[0-9]+").toString();
            $.post("/Leader/MemberProfile.cshtml", { UserId: userId }, function (data) { $("#mm-memberdetails").html(data) });
            $(this).addClass("mm-member-on");
        });
        $("#nav1").attr('class', 'componentActive');
        $("#nav1 a").css('color', 'blue');

    });
</script>

<style>
    li.mm-memberName:hover{
        cursor: pointer;
    }
    li.mm-memberName{
        padding: 5px 5px 5px 5px;
    }
    .mm-component{
        width: 200px;
        display: inline-block;
        margin: 20px 0 20px 0;
    }
    #mm-projectList,#mm-titleList{
        width: 120px;
    }
    #mm-memberNameOrEmail{
        width: 250px;
        height: 27px;
    } 
    ul#mm-list-member{
        list-style-type: none;
    }
    
    li.mm-member-on{
        color: white;
        font-weight: bold;
        background-color: #00A3EF;
    }
    
    div.mm-memberlist{
        vertical-align: top;
        width: 200px; 
        display: inline-block;
        margin-right: 20px; 
        margin-top: 35px;
    }          
</style>


<div style="width: 1000px">
    <form method="post">
        <div class="mm-component" style="margin-right: 10px">
            <label><strong>PROJECT : </strong></label>
            @Html.DropDownList("mm-projectList",null,projectList,Request["mm-projectList"],null)
        </div>
        <div class="mm-component">
            <label><strong>TITLE : </strong></label>
            @Html.DropDownList("mm-titleList",null,titleList,Request["mm-titleList"],null)
        </div>
         <div class="mm-component">
            @Html.TextBox("mm-memberNameOrEmail",Request["mm-memberNameOrEmail"], new{placeholder = "Enter name or email"})
        </div>
        <div class="mm-component">
            <button style="display: inline-block" class="tk-button">Search</button>
            <button style="display: inline-block" class="tk-button"><a href="/Leader/ManageMembers.cshtml" style="text-decoration: none; color: black">View All</a></button>
        </div>
    </form>
</div>
<div style="width:  1000px; height: fit-content; padding-bottom: 20px; padding-left: 10px"> 
   <div class="mm-memberlist" id="mm-memberlist">
    @if(!IsPost){
        foreach(var prj in projectList){
            if(prj.Text =="All"){continue;}
            <h4>@prj.Text</h4>
            var membersInProject = Functions.getUsersInProject(prj.Value.AsInt());
            <div>
                <ul id="mm-list-member">
                    @foreach(var mem in membersInProject){
                        if(User.IsInRole("LEADER") && mem.LeaderId== WebSecurity.CurrentUserId ){
                            <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>
                        }
                        if(User.IsInRole("PM")  && mem.ProjectManagerId==WebSecurity.CurrentUserId){
                            <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>                            
                        }                        
                    }
                </ul>
            </div>
        }
    }
    else{
        var selectedProjectId = Request["mm-projectList"].AsInt();
        var selectedTitleId = Request["mm-titleList"].AsInt();
        var memberNameOrEmail = Request["mm-memberNameOrEmail"];

        var filteredProjectList = selectedProjectId==0?db.Query("SELECT * FROM Projects"):db.Query("SELECT * FROM Projects WHERE ProjectId=@0",selectedProjectId);
        var titleRangeQuery = selectedTitleId==0?"(SELECT TitleId FROM Title) ":"(SELECT TitleId FROM Title WHERE TitleId=@1) ";

        foreach(var prj in filteredProjectList){
            var filteredMemberList = db.Query("SELECT * FROM UserProfile "+ 
                                      "WHERE UserProfile.UserId IN (SELECT UserId FROM Project_User WHERE ProjectId=@0 AND Status='True') "+
                                      "AND UserProfile.TitleId IN "+ titleRangeQuery +
                                      "AND (Email LIKE @2 OR FirstName LIKE @2 OR LastName LIKE @2)",prj.ProjectId,selectedTitleId,"%"+memberNameOrEmail+"%");
            if(filteredMemberList.Count !=0){
                <h3>@prj.ProjectName</h3>
                <div>
                    <ul>
                        @foreach(var mem in filteredMemberList){
                            if(User.IsInRole("LEADER") && mem.LeaderId== WebSecurity.CurrentUserId ){
                                <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>
                            }
                            if(User.IsInRole("PM")  && mem.ProjectManagerId==WebSecurity.CurrentUserId){
                                <li id="mem_@mem.UserId" class="mm-memberName">@mem.FirstName @mem.LastName</li>                            
                            }
                        }
                    </ul>
                </div>
            }
        }
    }
    </div>
    <div class="mm-memberdetails" id="mm-memberdetails" style="width: 700px; display: inline-block;"></div>
</div>