@{
     Page.Title = "Manage Your Projects";
     var db = Database.Open("StarterSite");
     int userID = WebSecurity.CurrentUserId;
     IEnumerable<dynamic> data=null;
     WebGrid grid = null;      
     String[] roles = new string[]{"MEMBER"};
     if(User.IsInRole("LEADER")){
        data = db.Query("SELECT * FROM Projects,Project_User " +
                        "WHERE Project_User.UserId=@0 AND Projects.ProjectId = Project_User.ProjectId AND Project_User.Status='True'",userID);
     }
     if(User.IsInRole("PM")){
        data = db.Query("SELECT * FROM Projects "+
                         "WHERE ProjectManager=@0",userID);
     }    
}

<script>
    $(function () {
        $("#mp-start-date,#mp-end-date").datepicker();

        /*Set class for active navigation tab*/
        $("#nav2").attr('class', 'componentActive');
        $("#nav2 a").css('color', 'blue');
    });
</script>

<style>
    div#mp-filter-bar {
        margin-top: 10px;
    }
    div#mp-filter-bar div{
        width: 200px;
        display: inline-block;       
    }
    div#mp-filter-bar div input{
        width: 150px;
    }
    div.mp-prj-name:hover{
        cursor: pointer;
    }
    div.mp-prj-name a{
        text-decoration: none;
        color:  blue;
    }
</style>

<div id="mp-filter-bar">
    <form method="post">
        <div>
            <label style="font-size: smaller"><strong>STARTED DATE :</strong></label>
            <input type="text" name="mp-start-date" id="mp-start-date" value="@Request["mp-start-date"]">
        </div>

        <div>
            <label style="font-size: smaller"><strong>END DATE :</strong></label>
            <input type="text" name="mp-end-date" id="mp-end-date" value="@Request["mp-end-date"]">
        </div>

        <div>
            <label style="font-size: smaller"><strong>PROJECT NAME:</strong></label>
            <input type="text" name="mp-project-name" value="@Request["mp-project-name"]">
        </div>

        <div>
            <button class="tk-button">Search</button>
        </div>
    </form>
    
</div>

<div style="padding: 0px 5px 10px 5px">
@if(IsPost){

    // Get information from request
    var startedDate = Request["mp-start-date"];
    var endDate = Request["mp-end-date"];
    var prjName = Request["mp-project-name"];

    // Create query based on info
    var queryStartedDate = startedDate.IsEmpty()?"":"StartedDate >= @1 AND ";
    var queryEndDate = endDate.IsEmpty()?"":"@2 >= EndDate AND ";
    var queryFilteredPrj ="";
    if(User.IsInRole("PM")){
        queryFilteredPrj = "SELECT * FROM Projects WHERE ProjectManager=@0 AND " + queryStartedDate + queryEndDate + "ProjectName LIKE @3";
    }
    if(User.IsInRole("LEADER")){
        queryFilteredPrj = "SELECT * FROM Projects,Project_User " +
                           "WHERE Project_User.UserId=@0 AND Projects.ProjectId = Project_User.ProjectId AND Project_User.Status='True' AND " +
                           queryStartedDate + queryEndDate + "ProjectName LIKE @3";
    }
                                                   
    // Get information from database
    var filteredPrj = db.Query(queryFilteredPrj,WebSecurity.CurrentUserId,startedDate,endDate,"%" + prjName + "%");
    grid= new WebGrid(filteredPrj,canSort: false);

   @* <p>SD: @startedDate</p>
    <p>ED: @endDate</p>
    <p>PN: @prjName</p>
    <p>UID: @WebSecurity.CurrentUserId</p>
    <p>Query: @queryFilteredPrj</p> *@
}
else{
    grid = new WebGrid(data,canSort: false);
}

@* ------ Display data in WebGrid -----------*@

@if(grid.TotalRowCount == 0){
    <p>There is no projects matched</p>
}
else{
    @grid.GetHtml(
    //tableStyle: "grid",    
    headerStyle: "gridheader",
    //   footerStyle: "gridfooter",  
    columns: grid.Columns(
        grid.Column(
            columnName: "ProjectName",
            header: "Project Name",
            format: @<div style="text-align: center;" id="mp-prj-@item.ProjectId" class="mp-prj-name"><a href="/Leader/ProjectDetails.cshtml?ProjectId=@item.ProjectId">@item.ProjectName</a></div>
        ),
        grid.Column(
            columnName: "Description",
            format: @<div>@Html.Raw(item.Description)</div>
        ),
        grid.Column(
            columnName: "StartedDate",
            header: "Started Date",
            format: @<div style="text-align: center">@item.StartedDate.ToString("d")</div>
        ),
        grid.Column(
            columnName: "EndDate",
            header: "End Date",
            format: @<div style="text-align: center">@item.EndDate.ToString("d")</div>
        )
    )
)
}
</div>
