@{
     Page.Title = "Manage Your Projects";
     var db = Database.Open("StarterSite");
     int userID = WebSecurity.CurrentUserId;
     var query = "SELECT * FROM Projects,Project_User WHERE Project_User.UserId=@0 AND Projects.ProjectId = Project_User.ProjectId";
     var data = db.Query(query,userID);
     var grid = new WebGrid(data);
     if(IsPost){
         <div>@Request["ProjectId"]</div>
     }
}
<form method="post" action="~/Leader/ProjectDetails" name="manageProjectForm">
    @grid.GetHtml(
    tableStyle: "grid",    
    headerStyle: "gridheader",
    footerStyle: "gridfooter",
    caption: "Project List",
    columns: grid.Columns(
        grid.Column(
            columnName: "ProjectName"
        ),
        grid.Column(
            columnName: "Description",
            format: @<div>@Html.Raw(item.Description)</div>
        ),
        grid.Column(
            columnName: "StartedDate",
            format: @<span>@item.StartedDate.ToString("d")</span>
        ),
        grid.Column(
            columnName: "EndDate",
            format: @<span>@item.EndDate.ToString("d")</span>
        ),
        grid.Column(
            header: string.Empty,
            format: @<input type="radio" name="ProjectId" value="@item.ProjectId" checked="checked"></input>                    
        )
    )
    )
    <input type="submit" value="Update Project" name="updateMember">
</form>
