@{
    Page.Title = "Manage Time Sheet";
    var db = Database.Open("StarterSite");
    
    //var data = new WebGrid(memberList);

}
<script>
    $(function () {
        //Get current project
        var currentPrj = "";
        var testType = "";
        var startedDate = "";
        var endDate = "";

        //METHOD GET INFORMATION
        $.fn.collectInfo = function () {
            currentPrj = $("#tslistProject").find(":selected").val();
            testType = $("#tsTestType").find(":selected").val();
            startedDate = $("#startedDatepicker").val();
            endDate = $("#endDatepicker").val();
            $.post("/Leader/UserTimeSheet.cshtml", { CurrentProjectId: currentPrj, TestType: testType, StartedDate: startedDate, EndDate: endDate }, function (data) { $("#tsContent").html(data); });
        }

        //OPEN THE DATEPICKER
        $("#startedDatepicker").datepicker();
        $("#endDatepicker").datepicker();

        /*HANDLE EVENTS 
        -----------------------------------*/
        $("li[id*=mem]").click(function () {
            $.post("/Leader/UserTimeSheet.cshtml", { MemberUserId: $(this).val() }, function (data) { $("#displayTasks").html(data) });

        });

        $("li[id*=mem]").hover(
            function () { $(this).css('color', '#ff6a00'); },
            function () { $(this).css('color', '#000'); }
        );

        //WHEN THE PROJECT IS CHANGE
        $("#tslistProject,#tsTestType").change(function () {
            $.fn.collectInfo();
        });

        //WHEN BUTTON SEARCH IS PRESSED
        $("#SearchDate").click(function () {
            $.fn.collectInfo();
        });

        //SEND INFORMATION FOR THE FIRST TIME
        $.fn.collectInfo();
    });
</script>


<div id="searchBar">
    <div id="component">
        <span><strong>Project</strong></span>
        @Html.DropDownList("tslistProject",Functions.getListOfProjectsFromUser(WebSecurity.CurrentUserId))
    </div>
    <div id="component">
        <span><strong>Test type</strong></span>
        @Html.DropDownList("tsTestType",Functions.getListTestType())
    </div>
    <div id="component">
        <span><strong>StarteDate</strong></span>
        <input type="text" id="startedDatepicker">
    </div>
    <div id="component">
        <span><strong>EndDate</strong></span>
        <input type="text" id="endDatepicker">
    </div>
    <div id="component">
        <input type="button" id="SearchDate" value="Search">
    </div>
</div>
<div id="tsContent">   
 </div>

@*
<div style="float: left; width: 150px;">
    <h2>MEMBER LIST</h2>
    <ul>
        @foreach(var member in memberList){
            <li id="mem_@member.UserId" value="@member.UserId">
                @member.FirstName
                <span>(@Functions.getTotalUnapprovedTimeSheet(member.UserId))</span>
            </li>
        }
    </ul>
</div>



<div style="float: right ;width: 850px" id="displayTasks">
    @RenderPage("~/Leader/UserTimeSheet.cshtml")
</div>
*@