@{
    Layout="";
    var userId = Request["UserId"].AsInt();
    var db = Database.Open("StarterSite");
    var userInfo = Functions.getUserInfo(userId);
    var workingProject = db.Query("SELECT ProjectName FROM Projects, Project_User " +
                                  "WHERE Project_User.UserId = @0 AND Project_User.ProjectId = Projects.ProjectId AND Project_User.Status='TRUE'",userId);

  
    
}

<script>
    $(function () {
        $("#mm-showprofile-edit").click(function () {
            var updateShowProfileClass = $("#mm-showprofile").attr("class").replace("shown", "hidden");
            var updateEditProfileClass = $("#mm-editprofile").attr("class").replace("hidden", "shown");
            $("#mm-showprofile").attr("class", updateShowProfileClass);
            $("#mm-editprofile").attr("class", updateEditProfileClass);
        });

        $("#mm-editprofile-cancel").click(function () {
            var updateShowProfileClass = $("#mm-showprofile").attr("class").replace("hidden", "shown");
            var updateEditProfileClass = $("#mm-editprofile").attr("class").replace("shown", "hidden");
            $("#mm-showprofile").attr("class", updateShowProfileClass);
            $("#mm-editprofile").attr("class", updateEditProfileClass);
        });

        $("#mm-editprofile-save").click(function () {
            var firstName = $("#mm-user-firstname").val();
            var lastName = $("#mm-user-lastname").val();
            var employeeId = $("#mm-user-employeeid").val();
            var userTitle = $("#mm-user-title").find(":selected").val();
            var userRole = $("#mm-user-role").find(":selected").val();
            var userId = $("#mm-user-userid").val();
            var posting = $.post("/Leader/Processing.cshtml", {
                Action: "UpdateUserInfo",
                FirstName: firstName,
                LastName: lastName,
                EmployeeId: employeeId,
                UserTitle: userTitle,
                UserRole: userRole,
                UserId: userId
            });
            posting.done(function (data) {
                var newdiv = "<div id='newdiv'>YOU'VE UPDATED SUCCESSFULLY</div>";
                $(newdiv).dialog({
                    buttons: [{ text: "OK", click: function () { 
                        $(this).dialog('close'); 
                        location.reload(); 
                        }
                    }]
                });
            });
        });
    })
</script>
 
<style>
    .hidden{
        display: none;
    }   
    
    .shown{
        display: normal;
    }
    
    .mm-editprofile {
        margin-left: 35px;
    }
    
    div#mm-editprofile div{
        margin: 5px 5px 5px 5px;
    }  
    
    div#mm-showprofile{
        margin-left: 35px
    }
    div#mm-showprofile p{
        margin:  5px 5px 5px 5px;
    }
  
    div.mp-info-line{
        width: 100px;
        display: inline-block;
    }
    select#mm-user-role, select#mm-user-title{
        width: 155px;
    }
    
</style>

@if(userId == 0 ){
    <h1 style="margin-left: 50px">Sorry, system cannot find your member</h1>
    <p style="margin-left: 50px; font-size: medium"><strong>Some common reasons:</strong>
        <br>
        - You forgot to choose the member in list
        <br>
        - The member was removed from system
        <br>
        - You don't have right to view this user's profile anymore
        <br>
        - Click <a href="/Leader/ManageMembers.cshtml">here</a> to go back       
    </p>
}
else{

<div id="mm-showprofile" class="shown">
    <div style="width: 200px; margin-left: 650px">
        <button class="tk-button" id="mm-showprofile-edit">Edit</button>
    </div>
    <div>
        <h2 style="color: grey">ACCOUNT INFORMATION</h2>
        <div style="font-size: 1.1em">
            <p>
                First Name: 
                <strong> @userInfo.FirstName </strong>
            </p>
            <p>
                Last Name:
               <strong> @userInfo.LastName</strong>
            </p>
            <p>
                Empl. ID: 
               <strong> @userInfo.EmployeeId</strong>
            </p>
            <p>
                Title:
                <strong>@Functions.getTitleName(@userInfo.TitleId)</strong>
            </p>
            <p>
                Role
               <strong> @Roles.GetRolesForUser(userInfo.Email)[0]</strong>
            </p>
        </div>
        
    </div>
</div>

<div id="mm-editprofile" class="mm-editprofile hidden">
    <div style="width: 200px; margin-left: 600px">
        <button class="tk-button" id="mm-editprofile-save">Save</button>
        <button class="tk-button" id="mm-editprofile-cancel">Cancel</button>
    </div>
    <h2 style="color: grey">EDIT MEMBER INFORMATION</h2>
    <div>
        <div class="mp-info-line"><strong>Email :</strong></div>
        <div class="mp-info-line"><a href="mailto:@userInfo.Email">@userInfo.Email</a></div>
    </div>
    <div>
        <div class="mp-info-line"><strong>First Name :</strong></div>
        <div class="mp-info-line"><input type="text" value="@userInfo.FirstName" id="mm-user-firstname"></div>
    </div>
    <div>
        <div class="mp-info-line"><strong>Last Name :</strong></div>
        <div class="mp-info-line"><input type="text" value="@userInfo.LastName" id="mm-user-lastname"></div>
    </div>
    <div>
        <div class="mp-info-line"><strong>Employee ID :</strong></div>
        <div class="mp-info-line"><input type="text" value="@userInfo.EmployeeId" id="mm-user-employeeid"></div>
    </div>
    <div>
        <div class="mp-info-line"><strong>Title :</strong></div>
        <div class="mp-info-line">@Html.DropDownList("mm-user-title",null,Functions.getSelectListItemOfTitle(),userInfo.TitleId,null)</div>
    </div>
    <div>
        <div class="mp-info-line"><strong>Role :</strong></div>
        <div class="mp-info-line">
            @{var userRoleName = Roles.GetRolesForUser(userInfo.Email)[0];}
            @Html.DropDownList("mm-user-role",null,Functions.getListRoles(),Functions.getRoleId(userRoleName),null)
        </div>
    </div>
    <input type="hidden" value="@userId" id="mm-user-userid">
</div>
}