@{
    Layout="";
    var userId = Request["UserId"].AsInt();
    var db = Database.Open("StarterSite");
    var userInfo = Functions.getUserInfo(userId);
    var workingProject = db.Query("SELECT ProjectName FROM Projects, Project_User " +
                                  "WHERE Project_User.UserId = @0 AND Project_User.ProjectId = Projects.ProjectId AND Project_User.Status='TRUE'",userId);

  
    
}

<script>
    $(function () {
        $("#mm-showprofile-edit").click(function () {
            var updateShowProfileClass = $("#mm-showprofile").attr("class").replace("shown", "hidden");
            var updateEditProfileClass = $("#mm-editprofile").attr("class").replace("hidden", "shown");
            $("#mm-showprofile").attr("class", updateShowProfileClass);
            $("#mm-editprofile").attr("class", updateEditProfileClass);
        });

        $("#mm-editprofile-cancel").click(function () {
            var updateShowProfileClass = $("#mm-showprofile").attr("class").replace("hidden", "shown");
            var updateEditProfileClass = $("#mm-editprofile").attr("class").replace("shown", "hidden");
            $("#mm-showprofile").attr("class", updateShowProfileClass);
            $("#mm-editprofile").attr("class", updateEditProfileClass);
        });

        $("#mm-editprofile-save").click(function () {
            var firstName = $("#mm-user-firstname").val();
            var lastName = $("#mm-user-lastname").val();
            var employeeId = $("#mm-user-employeeid").val();
            var userTitle = $("#mm-user-title").find(":selected").val();
            var userRole = $("#mm-user-role").find(":selected").val();
            var userId = $("#mm-user-userid").val();
            var posting = $.post("/Leader/Processing.cshtml", {
                Action: "UpdateUserInfo",
                FirstName: firstName,
                LastName: lastName,
                EmployeeId: employeeId,
                UserTitle: userTitle,
                UserRole: userRole,
                UserId: userId
            });
            posting.done(function (data) {
                var newdiv = "<div id='newdiv'>YOU'VE UPDATED SUCCESSFULLY</div>" ;
                $(newdiv).dialog({
                    buttons: [{ text: "OK", click: function () { $(this).dialog('close'); }
                    }]
                });
            });
        });
    })
</script>
 
<style>
 .hidden{
        display: none;
    }   
 .shown{
        display: normal;
    }
 .mm-editprofile{
    }
</style>

@if(userId == 0 ){
    <h1 style="margin-left: 50px">Sorry, system cannot find your member</h1>
    <p style="margin-left: 50px; font-size: medium"><strong>Some common reasons:</strong>
        <br>
        - You forgot to choose the member in list
        <br>
        - The member was removed from system
        <br>
        - You don't have right to view this user's profile anymore
        <br>
        - Click <a href="/Leader/ManageMembers.cshtml">here</a> to go back       
    </p>
}
else{

<div style="padding-left: 50px" id="mm-showprofile" class="shown">
    <div style="width: 200px; margin-left: 650px">
        <button class="tk-button" id="mm-showprofile-edit">Edit</button>
    </div>
    <ul style="">
        <li>
            <h2>ACCOUNT INFROMATION</h2>
            <ul style="list-style-type: none">
                <li>Name: @userInfo.FirstName @userInfo.LastName</li>
                <li>Comany ID: @userInfo.EmployeeId</li>
                <li>Working Projects
                    @if(workingProject.Count() == 0){
                        <p>None</p>
                    }
                    else{
                        foreach(var prj in workingProject){
                            <p>@prj.ProjectName</p>
                        }
                    }
                </li>
            </ul>
        </li>
        <li>
            <h2>OTHER INFORMATION</h2>
            <ul>
                <li>
                    <h3>PRODUCTIVITY</h3>
                    <p>TO BE DEFINED LATER</p>
                </li>
                <li>
                    <h3>QUALITY</h3>
                    <p> TO BE DEFINED LATER</p>
                </li>
                <li>
                    <h3>OTHER REPORTS</h3>
                    <p> TO BE DEFINED LATER</p>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="mm-editprofile" class="mm-editprofile hidden">
     <div style="width: 200px; margin-left: 650px">
        <button class="tk-button" id="mm-editprofile-save">Save</button>
        <button class="tk-button" id="mm-editprofile-cancel">Cancel</button>
    </div>
    <div>
        <label>Email: </label>
        <label><a href="mailto:@userInfo.Email">@userInfo.Email</a></label>
    </div>
    <div>
        <label>First Name: </label>
        <input type="text" value="@userInfo.FirstName" id="mm-user-firstname">
    </div>
    <div>
        <label>Last Name: </label>
        <input type="text" value="@userInfo.LastName" id="mm-user-lastname">
    </div>
    <div>
        <label>Employee ID</label>
        <input type="text" value="@userInfo.EmployeeId" id="mm-user-employeeid">
    </div>
    <div>
        <label>Title</label>
        @Html.DropDownList("mm-user-title",null,Functions.getSelectListItemOfTitle(),userInfo.TitleId,null)
    </div>
    <div>
        <label>Role</label>
        @{var userRoleName = Roles.GetRolesForUser(userInfo.Email)[0];}
        @Html.DropDownList("mm-user-role",null,Functions.getListRoles(),Functions.getRoleId(userRoleName),null)
    </div>
    <div>
        <input type="hidden" value="@userId" id="mm-user-userid">
    </div>
</div>
}