@{
    Layout="";
    var db = Database.Open("StarterSite");
    if(IsPost){
        if(Request["Action"]=="AcceptTSReport"){
            var CurrentProjectUserId = Request["CurrentProjectUserId"].AsInt();
            var CurrentFirstOfWeek = Request["CurrentFirstOfWeek"].AsDateTime();
            db.Query("UPDATE TimeManagement SET Approved='True' WHERE Project_UserId=@0 AND Datetime=@1",CurrentProjectUserId,CurrentFirstOfWeek);    
        }

        //Request From Member Profile
        if(Request["Action"]=="UpdateUserInfo"){
            var fn = Request["FirstName"];
            var ln = Request["LastName"];
            var employeeId= Request["EmployeeId"];
            var employeeTitleId = Request["UserTitle"].AsInt();
            var employeeRoleId = Request["UserRole"].AsInt();
            var userId = Request["UserId"].AsInt();
            var supervisorId = Request["SupervisorId"].AsInt();
            int succeedRows = Functions.updateUserInfo(userId,fn,ln,employeeId,employeeTitleId,employeeRoleId,supervisorId);
            @*
                <p>
                FN: @Request["FirstName"]
                LN: @Request["LastName"]
                EP: @Request["EmployeeId"]
                TITLE: @Request["UserTitle"]
                R: @Request["UserRole"]
                URSID:@Request["UserId"]</p>
            <p>eeeeeeeeee</p>*@
        }

        //Send comment to enduser
        if(Request["Action"]=="SendLeaderComment"){
            var userId = Request["UserId"].AsInt();
            var commentContent = Request["CommentContent"];
            var userEmail = Functions.getUserInfo(userId).Email;
            var userName = Functions.getUserInfo(userId).FirstName;
            string mailBody = "Hi " + userName + ", <br><br>"+
                              "Your timesheet report has been declined due to following reasons. Please contact your leader for more information.<br><br><br>"+
                              "<strong>" + commentContent + "</strong>" +
                              "<br><br><br>Best Regards." ;
            WebMail.Send(
                to: userEmail,
                subject: "Your timesheet report has been declined",
                body: mailBody
            );

            <p>An email has been sent to your member successfully</p>
        }
    }
}


