@{
    Page.Title = "Project Details";
    var db = Database.Open("StarterSite");
    var projectId = Request["ProjectId"];
    DateTime startedDate = Request.Form["datepickerStartedDate"].AsDateTime();
    DateTime endDate     = Request.Form["datepickerEndDate"].AsDateTime();
    var feedbackMsg="";

    //Validation  
    Validation.RequireField("datepickerStartedDate", "Please choose the started date");
    Validation.RequireField("datepickerEndDate","Please choose the end date");
         
    if(startedDate.CompareTo(endDate) > 0){
        ModelState.AddError("datepickerStartedDate","The started date must be smaller than end date");
    }
    
    if(IsPost){
        var action = Request["action"];        
        if(action == "Save"){
            var projectDescription = Request["projectDescription"] ;
            var datepickerStartedDate = Request["datepickerStartedDate"];
            var datepickerEndDate = Request["datepickerEndDate"];

            if(projectDescription!=null && projectDescription !="" && datepickerStartedDate !="" && datepickerEndDate!=""){
                var updateProjectQuery = "UPDATE Projects SET Description=@0, StartedDate=@1, EndDate=@2 WHERE ProjectId=@3";
                db.Execute(updateProjectQuery,projectDescription,datepickerStartedDate,datepickerEndDate,projectId);
                Response.Redirect("~/Leader/ManageProjects");
            }            
        }
        
        if(action =="Cancel"){
            Response.Redirect("~/Leader/ManageProjects");
        }
    }

    var query = "SELECT * FROM Projects WHERE ProjectId=@0"; 
    var data = db.QuerySingle(query,projectId);
}

 
<script>
    $(function () {
        $("#datepickerStartedDate").datepicker({ showAnim: "fold" });
        $("#datepickerEndDate").datepicker({ showAnim: "fold" });
        $("#submit").click(function () {
            $("input[name=projectDescription]").attr('value',$("#projectDescription").val());
        });               
    });               
</script>   
  
<form method="post">
    <h2>@data.ProjectName</h2>
    <ul>
        <li>
            <label for="projectDescription">Project Description</label>
            <br>
            <textarea id="projectDescription" name="">@data.Description</textarea>
            @Html.ValidationMessage("projectDescription")
           
        </li>

        <li>
            <label for="datepickerStartedDate">Started Date</label>
            <br>
            <input id="datepickerStartedDate" value="@data.StartedDate.ToString("d")" name="datepickerStartedDate">  
            @Html.ValidationMessage("datepickerStartedDate")
        </li>
        
        <li>
            <label for="datepickerEndDate">End Date</label>
            <br>
            <input id="datepickerEndDate" value="@data.EndDate.ToString("d")" name="datepickerEndDate">
            @Html.ValidationMessage("datepickerEndDate")
        </li>         
    </ul>

    <div id="member-in-project">            
        @RenderPage("~/Leader/GetMembers.cshtml")
    </div>

    <input type="hidden" name="projectDescription" value="">
    <input type="hidden" name="projectId" value="@projectId">
    <input name="action" id="submit" type="submit" value="Save">
    <input name="action" id="submit" type="submit" value="Cancel">
    <div class="feedback">@feedbackMsg</div>    
</form>
