@{
    Page.Title = "Project Details";
    var db = Database.Open("StarterSite");
    var projectId = Request["ProjectId"];
    DateTime startedDate = Request.Form["datepickerStartedDate"].AsDateTime();
    DateTime endDate     = Request.Form["datepickerEndDate"].AsDateTime();

    //Validation  
    Validation.RequireField("datepickerStartedDate", "Please choose the started date");
    Validation.RequireField("datepickerEndDate","Please choose the end date");
    Validation.RequireField("projectDescription","Please enter project description");
    Validation.Add("projectDescription",Validator.StringLength(1000,10,"Project Description must at least 10 characters"));

    
    if(IsPost){
        if(Validation.IsValid()){
            if(startedDate.CompareTo(endDate) > 0){
                ModelState.AddError("datepickerStartedDate","The started date must be smaller than end date");                
            }
            else{
                var action = Request["action"];

                // Save button is pressed        
                if(action == "Save"){            
                    var projectDescription = Request.Unvalidated("projectDescription") ;
                    var datepickerStartedDate = Request["datepickerStartedDate"];
                    var datepickerEndDate = Request["datepickerEndDate"];

                    if(projectDescription!=null && projectDescription !="" && datepickerStartedDate !="" && datepickerEndDate!=""){
                        var updateProjectQuery = "UPDATE Projects SET Description=@0, StartedDate=@1, EndDate=@2 WHERE ProjectId=@3";
                        db.Execute(updateProjectQuery,projectDescription,datepickerStartedDate,datepickerEndDate,projectId);
                        Response.Redirect("~/Leader/ManageProjects?SelectedProjectId=" + projectId);
                    }            
                }

                // Cancel button is pressed
                if(action =="Cancel"){
                    Response.Redirect("~/Leader/ManageProjects?SelectedProjectId=" + projectId);
                }
            }
        }
    }

    var query = "SELECT * FROM Projects WHERE ProjectId=@0"; 
    var data = db.QuerySingle(query,projectId);
}

<script>
    $(function () {        
        $("#datepickerStartedDate").datepicker({ showAnim: "fold" });
        $("#datepickerEndDate").datepicker({ showAnim: "fold" });        
        $("#projectDescription").jqte();       
     });               
</script>   
  
<form method="post">
     @Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes: null) 
    <h2>@data.ProjectName</h2>
    <ul>
        <li>
            <label for="datepickerStartedDate">STARTED DATE</label>
            <br>
            <input id="datepickerStartedDate" value="@data.StartedDate.ToString("d")" name="datepickerStartedDate">  
            @Html.ValidationMessage("datepickerStartedDate")
        </li>        
        <li>
            <label for="datepickerEndDate">END DATE</label>
            <br>
            <input id="datepickerEndDate" value="@data.EndDate.ToString("d")" name="datepickerEndDate">
            @Html.ValidationMessage("datepickerEndDate")
        </li>
        <li>
            <label for="projectDescription">PROJECT DESCRIPTION</label>
            @Html.ValidationMessage("projectDescription") 
            <br>
            <div style="width: 900px">
                <textarea id="projectDescription" name="projectDescription">@data.Description</textarea>
            </div>
        </li>
        <li>
            @RenderPage("GetMembers.cshtml")
        </li>         
    </ul>

    <input type="hidden" name="projectId" value="@projectId">
    <input name="action" id="submit" type="submit" value="Save">
    <input name="action" id="submit" type="submit" value="Cancel">       
</form>
