@{
    Layout = "";
    var db = Database.Open("StarterSite");
    int userId = 0;
    int chosenTestType = 0;    
    int chosenPrjId=0;
    int defaultUserId = 0;
    string startedDate = "";
    string endDate ="";
    var unapprovedProject = db.Query("SELECT DISTINCT Project_User.Id,ProjectName,WeekOfYear FROM Project_User,Projects,TimeManagement " +
                                  "WHERE UserId=@0 AND Project_User.Status='True' AND Project_User.ProjectId=Projects.ProjectId AND TimeManagement.Approved='False' AND TimeManagement.Project_UserId = Project_User.Id",@userId);
    if(IsPost){
        userId = Request["MemberUserId"].AsInt();
        chosenTestType = Request["TestType"].AsInt();
        chosenPrjId = Request["CurrentProjectId"].AsInt();
        //filterDate =Request["filterDate"];
        startedDate=Request["StartedDate"];
        endDate= Request["EndDate"];
        @*
        if(filterDate == DateTime.MinValue){
            filterDate =Functions.FirstDateOfWeek(DateTime.Now);
        }
        else{
            filterDate = Functions.FirstDateOfWeek(filterDate);
        }
        <p>@filterDate</p>*@
        <p>UserId: @userId</p>
        <p>TestType: @chosenTestType</p>
        <p>currentPrjectId: @chosenPrjId</p>
        <p>startedDate: @startedDate</p>
        <p>endDate: @endDate</p>
        
          //startedDate.AsDateTime();
         // DateTime.TryParse(startedDate);
       // var firstDayofweek = Functions.FirstDateOfWeek(startedDate.AsDateTime());

       // <p>@firstDayofweek</p>


        
           @*
        var abc = Functions.getUsersInProject(chosenPrjId)[0];
        <p>defaultUserId : @abc.UserId</p>
     
        userId = Request["MemberUserId"].AsInt();
        if(Request["action"]=="Accept"){
            db.Query("UPDATE TimeManagement SET Approved='True' WHERE Project_UserId=@0",Request["timeSheetForProjectUser"].AsInt());           
            <p style="color: #4cff00">YOU APPROVED SUCCESSFULLY</p>            
        }
        if(Request["action"]=="Decline"){
            Response.Redirect("~/Leader/ManageTimeSheet");
        }*@
        
    }
}
<script>
    $("#tabs").tabs();    
</script>

<style>
    .taskField{
        width: 350px;
    }
</style>
<div>@chosenPrjId
</div>

@{
    if(startedDate == "" && endDate ==""){
         <p>2 fields empty</p>
        var lsOfProjectUserId = db.Query("SELECT * FROM Project_User WHERE ProjectId=@0",chosenPrjId);
        foreach(var prjusrid in lsOfProjectUserId){
            
        }

       
        var currentFirstOfWeek = Functions.FirstDateOfWeek(DateTime.Now);
        var timesheetReports = db.Query("SELECT DISTINCT(Datetime) FROM TimeManagement WHERE( @0 = Datetime)",currentFirstOfWeek.ToShortDateString());
        foreach(var ts in timesheetReports){
             var lsMemberInDuration = Functions.getUsersInProject(chosenPrjId,ts.Datetime.ToShortDateString());
             foreach(var mem in lsMemberInDuration){
                 <p>@Functions.getUserInfo(mem.UserId).FirstName</p>
             }
             var listCategory = Functions.getListCategory();
             foreach(var cate in listCategory){

                 //GIAI NGHIA QUERY: LAY HET ~ COT TRONG TIMEMANAGEMENT CO' THOI GIAN LA @0 VA
                 // NAM TRONG CATEGORY @1 VA THUOC LOAI  @2 VA PHAI NAM TRONG PROJECT @3
                 var currentDataTS = db.Query("SELECT * FROM TimeManagement WHERE Datetime=@0 "+
                                              "AND TaskId IN (SELECT Id FROM Tasks WHERE CategoryId=@1 AND TypeId=@2) "+
                                              "AND Project_UserId IN (SELECT Id FROM Project_User WHERE ProjectId=@3)",
                                        ts.Datetime.ToShortDateString(),cate.Id,chosenTestType,chosenPrjId);

                if(currentDataTS.Count >0){
                    <div>@cate.Name</div>
                    WebGrid gridData = new WebGrid(currentDataTS,canSort:false,rowsPerPage:100);                
                    <div> @gridData.GetHtml(
                        columns: gridData.Columns(
                            gridData.Column("TaskId","Task Name",@<text>@Functions.getTaskName(item.TaskId)</text>,"taskField"),
                            gridData.Column("Mon",format:@<span>@if(item.Mon != -1){<text>@item.Mon</text>}</span>),
                            gridData.Column("Tue",format:@<span>@if(item.Tue != -1){<text>@item.Tue</text>}</span>),
                            gridData.Column("Wed",format:@<span>@if(item.Wed != -1){<text>@item.Wed</text>}</span>),
                            gridData.Column("Thu",format:@<span>@if(item.Thu != -1){<text>@item.Thu</text>}</span>),
                            gridData.Column("Fri",format:@<span>@if(item.Fri != -1){<text>@item.Fri</text>}</span>),
                            gridData.Column("Sat",format:@<span>@if(item.Sat != -1){<text>@item.Sat</text>}</span>),
                            gridData.Column("Sun",format:@<span>@if(item.Sun != -1){<text>@item.Sun</text>}</span>)
                        )
                      )
                    </div>}
                          
            }
        }
    }else{
        // Date: 1/1/1753 is MinValue of SQL
        startedDate = startedDate==""?DateTime.Parse("1/1/1753").ToShortDateString():startedDate;
        endDate = endDate==""?DateTime.Parse("1/1/9999").ToShortDateString():endDate;
        var timesheetReports = db.Query("SELECT * FROM TimeManagement WHERE( @0 <= Datetime) AND (Datetime <=@1)",startedDate,endDate);
        WebGrid currentDataTS = new WebGrid(timesheetReports);
        currentDataTS.GetHtml();
    }
    //var timesheetReports = db.Query("SELECT * FROM TimeManagement WHERE( @0 <= Datetime) AND (Datetime <=@1)",startedDate,endDate);
    
}

@*

<div style="float: left; width: 150px;">
    <h2>MEMBERS</h2>
    <ul>
        @{
            var memberlist = Functions.getUsersInProject(chosenPrjId);
            foreach(var member in memberlist){
                <li id="mem_@member.UserId" value="@member.UserId">
                    @member.FirstName
                    <span>(@Functions.getTotalUnapprovedTimeSheet(member.UserId))</span>
                </li>
            }
        }
    </ul>
</div>


<div style="float: right ;width: 850px">  
@if(userId == 0){
    <p>Please select a member on the right</p>
}
else{
    if(userId !=0 && Functions.getTotalUnapprovedTimeSheet(userId) <=0){
        <p>All @db.QueryValue("SELECT FirstName FROM UserProfile WHERE UserId=@0",userId)'s time sheet reports are approved</p>
    }
    else{    
    <div id="tabs">
         <ul>
             @foreach(var item in unapprovedProject){
                <li><a href="#tab_@item.Id"><span>@item.ProjectName</span></a></li>
             }
        </ul>
        @foreach(var prj in unapprovedProject){
            <div id="tab_@prj.Id">
                @{
                    var userInfo = Functions.getUserInfo(userId);
                    var projectInfo = Functions.getProjectDetails(prj.Id);
                    DateTime firstDayofWeek = Functions.FirstDateOfWeek(DateTime.Now.Year,prj.WeekOfYear);

                    <h4 style="color: #808080">@userInfo.FirstName @userInfo.LastName - 
                        <span style="color: #0026ff">@projectInfo.ProjectName</span>
                        <br> 
                        <span style="color: #000">From:</span> @firstDayofWeek.ToShortDateString() 
                        <span style="color: #000">To:</span>@firstDayofWeek.AddDays(7).ToShortDateString()
                    </h4> 
                    //GET CATEGORIES 
                    var categoriesList = db.Query("SELECT Id FROM Categories");
                    <form method="post">
                        @foreach(var category in categoriesList){

                            //GET TIMESHEET FOR ABOVE CATEGORIES IN WORKING PROJECT 
                            var timesheet = db.Query("SELECT Tasks.Name,Mon,Wed,Tue,Thu,Fri,Sat,Sun,Categories.Name AS CategoryName FROM TimeManagement,Tasks,Categories " +
                                                    "WHERE Project_UserId=@0 AND TimeManagement.TaskId = Tasks.Id AND Categories.Id = Tasks.CategoryId AND Categories.Id=@1",prj.Id,category.Id);
                            if(timesheet.Count >0 ){

                                //SHOW CATEGORY NAME
                               <h4 style="color: #f00">@timesheet[0].CategoryName.ToUpper()</h4>
                                var newGrid = new WebGrid(timesheet,canSort:false,rowsPerPage:50);                                   
                                @newGrid.GetHtml(
                                    columns: newGrid.Columns(
                                        newGrid.Column("Name","Task Name",null,"taskField"),
                                        newGrid.Column("Mon",format:@<span>@if(item.Mon != -1){<text>@item.Mon</text>}</span>),
                                        newGrid.Column("Tue",format:@<span>@if(item.Tue != -1){<text>@item.Tue</text>}</span>),
                                        newGrid.Column("Wed",format:@<span>@if(item.Wed != -1){<text>@item.Wed</text>}</span>),
                                        newGrid.Column("Thu",format:@<span>@if(item.Thu != -1){<text>@item.Thu</text>}</span>),
                                        newGrid.Column("Fri",format:@<span>@if(item.Fri != -1){<text>@item.Fri</text>}</span>),
                                        newGrid.Column("Sat",format:@<span>@if(item.Sat != -1){<text>@item.Sat</text>}</span>),
                                        newGrid.Column("Sun",format:@<span>@if(item.Sun != -1){<text>@item.Sun</text>}</span>)
                                    )                       
                                ); 
                            }
                        }
                        
                        <input type="hidden" name="timeSheetForProjectUser" value="@prj.id">
                        <input type="submit" name="action" id="btnAccept" value="Accept" style="width: 100px">
                        <input type="submit" name="action" value="Decline" style="width: 100px">
                        <input type="hidden" name="MemberUserId" value="@Request["MemberUserId"]" >
                    </form>
                }
            </div>
        }
    </div>
    }
}

</div>
*@