@{
    Layout = "";
    var db = Database.Open("StarterSite");
    var userId = Request["MemberUserId"].AsInt();
    var unapprovedProject = db.Query("SELECT DISTINCT Project_User.Id,ProjectName FROM Project_User,Projects,TimeManagement " +
                                  "WHERE UserId=@0 AND Project_User.Status='True' AND Project_User.ProjectId=Projects.ProjectId AND TimeManagement.Approved='False' AND TimeManagement.Project_UserId = Project_User.Id",@userId);
    if(IsPost){
        userId = Request["MemberUserId"].AsInt();
        if(Request["action"]=="Accept"){
            db.Query("UPDATE TimeManagement SET Approved='True' WHERE Project_UserId=@0",Request["timeSheetForProjectUser"].AsInt());           
            <p style="color: #4cff00">YOU APPROVED SUCCESSFULLY</p>

            
        }
        if(Request["action"]=="Do Not Accept"){
            Response.Redirect("~/Leader/ManageTimeSheet");
        }
    }
}
<script>
    $("#tabs").tabs();    
</script>

<style>
    .taskField{
        width: 350px;
    }
</style>

@if(userId == 0){
    <p>Please select a member on the right</p>
}
else{
    if(userId !=0 && Functions.getTotalUnapprovedTimeSheet(userId) <=0){
        <p>All @db.QueryValue("SELECT FirstName FROM UserProfile WHERE UserId=@0",userId)'s time sheet reports are approved</p>
    }
    else{    
    <div id="tabs">
         <ul>
             @foreach(var item in unapprovedProject){
                <li><a href="#tab_@item.Id"><span>@item.ProjectName</span></a></li>
             }
        </ul>
        @foreach(var item in unapprovedProject){
            <div id="tab_@item.Id">
                @{
                    //GET CATEGORIES 
                    var categoriesList = db.Query("SELECT Id FROM Categories");
                    <form method="post">
                        @foreach(var category in categoriesList){
                            //GET TIMESHEET FOR ABOVE CATEGORIES IN WORKING PROJECT 
                            var timesheet = db.Query("SELECT Tasks.Name,Mon,Wed,Tue,Thu,Fri,Sat,Sun,Categories.Name AS CategoryName FROM TimeManagement,Tasks,Categories " +
                                                    "WHERE Project_UserId=@0 AND TimeManagement.TaskId = Tasks.Id AND Categories.Id = Tasks.CategoryId AND Categories.Id=@1",item.Id,category.Id);
                            if(timesheet.Count >0 ){
                               <h4>@timesheet[0].CategoryName</h4>
                                var newGrid = new WebGrid(timesheet,canSort:false,rowsPerPage:50);                                   
                                @newGrid.GetHtml(
                                    columns: newGrid.Columns(
                                        newGrid.Column("Name","Task Name",null,"taskField"),
                                        newGrid.Column("Mon"),
                                        newGrid.Column("Tue"),
                                        newGrid.Column("Wed"),
                                        newGrid.Column("Thu"),
                                        newGrid.Column("Fri"),
                                        newGrid.Column("Sat"),
                                        newGrid.Column("Sun")
                                    )                       
                                ); 
                            }
                        }
                        
                        <input type="hidden" name="timeSheetForProjectUser" value="@item.id">
                        <input type="submit" name="action" id="btnAccept" value="Accept" style="width: 100px">
                        <input type="submit" name="action" value="Do Not Accept" style="width: 100px">
                        <input type="hidden" name="MemberUserId" value="@Request["MemberUserId"]" >
                    </form>
                }
            </div>
        }
    </div>
    }
}