@{
    Layout = "";
    var db = Database.Open("StarterSite");
    var userId = Request["MemberUserId"].AsInt();
    var workingProject = db.Query("SELECT Id,ProjectName FROM Project_User,Projects WHERE UserId=@0 AND Project_User.Status='True' AND Project_User.ProjectId=Projects.ProjectId",@userId);
    if(IsPost){
        userId = Request["MemberUserId"].AsInt();
    }
}
<script>
    $("#tabs").tabs();
</script>

@if(userId == 0){
    <p>Please select at least a member. Because UserId = @userId</p>
}
else{
 <div id="tabs">
    <ul>
         @foreach(var item in workingProject){
            <li><a href="#tab_@item.Id"><span>@item.ProjectName</span></a></li>
         }
    </ul>
    @foreach(var item in workingProject){
        var timesheet = db.Query("SELECT Tasks.Name,Mon,Wed,Tue,Thu,Fri,Sat,Sun FROM TimeManagement,Tasks WHERE Project_UserId=@0 AND TimeManagement.TaskId = Tasks.Id",item.Id);
        if(timesheet.Count >0 ){
            var newGrid = new WebGrid(timesheet,canSort:false,rowsPerPage:50);            
             <div id="tab_@item.Id">
                 <form>
                     <h2>@item.ProjectName</h2>
                     @newGrid.GetHtml(
                        columns: newGrid.Columns(
                            newGrid.Column("Name","Task Name",null),
                            newGrid.Column("Mon"),
                            newGrid.Column("Tue"),
                            newGrid.Column("Wed"),
                            newGrid.Column("Thu"),
                            newGrid.Column("Fri"),
                            newGrid.Column("Sat"),
                            newGrid.Column("Sun")
                        )                       
                     )
                     <input type="hidden" id="timeSheetForProjectUser" value="@item.id">
                     <input type="submit" value="Accept" style="width: 100px">
                     <input type="submit" value="Do Not Accept" style="width: 100px">
                 </form>
              </div>             
        }
    }
   </div> 
}
<table>
    <tr style="width: "></tr>
</table>
