@{
    //Initialize variables
    var db = Database.Open("StarterSite");
    var companyName = "";
    var companyId = "";
    var companyDes = "";

    //Validation for fields
    Validation.RequireField("admin_companyName","Missing company name");
    Validation.RequireField("admin_companyId","Missing company identifier");
    Validation.RequireField("admin_companyDes","Missing company description");
    Validation.Add("admin_companyName",
        Validator.StringLength(
            maxLength: 100,
            minLength: 2,
            errorMessage: "Enter the company name between 2 to 100 characters length")
    );
    Validation.Add("admin_companyId",
        Validator.StringLength(
            maxLength: 100,
            minLength: 2,
            errorMessage: "Enter the company id between 2 to 10 characters length")
    );
    Validation.Add("admin_companyDes",
        Validator.StringLength(
            maxLength: 1000,
            minLength: 5,
            errorMessage: "Enter the company description at least 5 characters")
    );
    
    if(IsPost){
        companyName = Request.Form["admin_companyName"];
        companyId = Request.Form["admin_companyId"];
        companyDes = Request.Form["admin_companyDes"];

        if(Request.Form["action"] == "Cancel"){
            if(Validation.IsValid()){
                var company = db.QuerySingle("SELECT CompanyId FROM Company WHERE CompanyAlias=@0",companyId);
                if(company == null){
                    var addCompanyQuery= "INSERT INTO Company(CompanyName,CompanyAlias,CompanyDescription) VALUES (@0,@1,@2)";
                    db.Execute(addCompanyQuery,companyName,companyId,companyDes);
                }
                else{
                    ModelState.AddFormError("This company id has been used");                
                }            
            }
        }
        else{
            Response.Redirect("~/Admin/Organization");
        }
    }
}

<script>
    $(function () {
        $("#admin_companyDes").jqte();
    });
</script>

<form method="post">
     @Html.ValidationSummary("Company is not created successfully. Please correct the errors below", excludeFieldErrors: true, htmlAttributes: null)
    <ul>
        <li>
            @Html.Label("Name","admin_companyName",null)
            @Html.TextBox("admin_companyName",companyName)
            @Html.ValidationMessage("admin_companyName")
        </li>

        <li>
            @Html.Label("ID","admin_companyId",null)
            @Html.TextBox("admin_companyId",companyId)
            @Html.ValidationMessage("admin_companyId")
        </li>

        <li style="width: 600px">
            @Html.Label("Description","admin_companyDes",null)
            @Html.TextArea("admin_companyDes",companyDes)
            @Html.ValidationMessage("admin_companyDes")
        </li>
    </ul>

    
    <input type="submit" value="Add" name="action">
    <input type="submit" value="Cancel" name="action">
</form>