@{
    Page.Title = "Add Organization";

    //Initialize variables
    var typeOrgan = "";
    var id = "";
    var description = "";

    var listOrganiztion = new List<SelectListItem>();
    listOrganiztion.Add(new SelectListItem(){Text="Company",Value="Company",Selected=typeOrgan=="Company"?true:false});
    listOrganiztion.Add(new SelectListItem(){Text="Division",Value="Division",Selected= typeOrgan=="Division"?true:false});
    listOrganiztion.Add(new SelectListItem(){Text="Groups",Value="Groups",Selected=typeOrgan=="Groups"?true:false});

    if(IsPost){
        typeOrgan = Request.Form["typeOrgan"];
        id = Request.Form["id"];
        description = Request.Form["descriptionValue"];        
    }
}

<script>
    $(function () {
        $("#Add").click(function () {
             $("#descriptionValue").attr('value', $("textarea[id=description]").val());
        });       
    });
</script>

<form method="post">
    <fieldset>
        <legend>Organization information</legend>
   
        <ul>
            <li>
                 @Html.Label("Type","typeOrgan",null)
                 @Html.DropDownList("typeOrgan",null,listOrganiztion,typeOrgan,null)    
            </li>
            <li>
                @Html.Label("ID","id")
                @Html.TextBox("id",id)
            </li>
            <li>
                @Html.Label("Description","description")
                <br>
                @Html.TextArea("description",description,new{cols=50,rows=10} )
                @Html.TextBox("descriptionValue",description,new{hidden="hidden"})
            </li>
        </ul>

        <input type="submit" id="Add" value="Add">
    </fieldset>
</form>
