@{
    Page.Title = "Add New Project";
    var db = Database.Open("StarterSite");
    
    //Get information from form
    var projectName = Request.Form["projectName"];
    var projectInfo = Request.Unvalidated.Form["projectInfo"];   
    var startedDate = Request.Form["datepickerStartedDate"].AsDateTime();
    var endDate     = Request.Form["datepickerEndDate"].AsDateTime();
    var projectManager = Request.Form["projectManager"];

    //Setup validation for fields
    Validation.RequireField("projectName","Please enter project name.");
    Validation.RequireField("projectInfo","Please enter short description.");
    Validation.RequireField("datepickerStartedDate", "Please choose the started date");
    Validation.RequireField("datepickerEndDate","Please choose the end date");
         
    if(startedDate.CompareTo(endDate) > 0){
        ModelState.AddError("datepickerStartedDate","The started date must be smaller than end date");
    }else{
        if(startedDate != DateTime.MinValue && startedDate.CompareTo(DateTime.Now.Date) < 0){
            ModelState.AddError("datepickerStartedDate","The started date must NOT be smaller than " + "TODAY(" + DateTime.Now.Date.ToShortDateString()+ ")");
        }

        if(endDate != DateTime.MinValue && endDate.CompareTo(DateTime.Now.Date) < 0){
            ModelState.AddError("datepickerEndDate","The end date must NOT be smaller than " + "TODAY("+ DateTime.Now.Date.ToShortDateString() +")");
        }
    }

    if(IsPost){
        AntiForgery.Validate();  
              
        if(Validation.IsValid()){
            var insertProject = "INSERT INTO Projects(ProjectName,ProjectManager,Description,StartedDate,EndDate) VALUES(@0,@1,@2,@3,@4)";
            db.Execute(insertProject,projectName,projectManager,projectInfo,startedDate,endDate);
        }       
    } 
}

<script>
    $(function () {
        $("#datepickerStartedDate").datepicker({ showAnim: "fold" });
        $("#datepickerEndDate").datepicker({ showAnim: "fold" });
        $("#projectInfo").jqte();
    });

    //SET CSS FOR ACTIVE TAB
    $("#nav2").attr('class', 'componentActive');
    $("#nav2 a").css('color', 'blue');
    $("div#sub-nav2").removeClass("hidden");
    $("div#sub-nav2").children().eq(0).siblings().addClass("opacity");

</script>

<form method="post">
    @AntiForgery.GetHtml()
    @Html.ValidationSummary("The new project cannot be added. Please correct the errors below.", excludeFieldErrors: true, htmlAttributes : null)
    <fieldset>
    <ol style="list-style-type: none;">
        <li>
            <div class="ap-component-small">@Html.Label("Project Name","projectName",null)</div>               
            <div class="ap-component-small">@Html.TextBox("projectName",projectName,Validation.For("projectName"))</div>            
            @Html.ValidationMessage("projectName")
        </li>
        <li>
            <div class="ap-component-small">@Html.Label("Project Id","projectId",null)</div>               
            <div class="ap-component-small">@Html.TextBox("projectId",projectName,Validation.For("projectId"))</div>            
            @Html.ValidationMessage("projectId")
        </li>
        <li>
            <div class="ap-component-small">@Html.Label("Started Date","datepickerStartedDate",null)</div>
            <div class="ap-component-small">@Html.TextBox("datepickerStartedDate",startedDate.Equals(DateTime.MinValue)?"":startedDate.ToShortDateString(),Validation.For("datepickerStartedDate"))</div>
            @Html.ValidationMessage("datepickerStartedDate")
        </li>
        <li>
            <div class="ap-component-small">@Html.Label("End Date","datepickerEndDate",null)</div>
            <div class="ap-component-small">@Html.TextBox("datepickerEndDate",endDate.Equals(DateTime.MinValue)?"":endDate.ToShortDateString(),Validation.For("datepickerEndDate"))</div>
            @Html.ValidationMessage("datepickerEndDate")
        </li>
        <li>
            <div class="ap-component-small">@Html.Label("Project Manager","projectManager",null)</div>
            <div class="ap-component-small">@Html.ListBox("projectManager",Functions.getResources(null,true,"PM"))</div>
        </li>
        <li>
            <div class="ap-component-small" style="vertical-align: top">@Html.Label("Description","projectInfo",null)</div>
            <div class="ap-component-small">@Html.TextArea("projectInfo",projectInfo,Validation.For("projectInfo"))</div>
            @Html.ValidationMessage("projectInfo")            
        </li>
    </ol>
    </fieldset>
    <input type="submit" value="Add" class="tk-button">
    <input type="button" value="Cancel" class="tk-button">
</form>