@{
    var db = Database.Open("StarterSite");    
    WebGrid grid = null;
    int counter = 0;
}
<script>
    $(function () {
        $("button#og-add-new-task").click(function (event) {
            event.preventDefault();
            $("div#og-add-new-task").dialog({
                buttons: [
                    { text: "Add",
                        click: function () {
                            var taskName = $("input#og-add-task-name").val();
                            var testTypeId = $("select#og-mt-list-test-type").find(":selected").val();
                            var cateId = $("select#og-mt-category-list").find(":selected").val();
                            var posting = $.post("/Admin/Processing.cshtml", { Action: "AddNewTask", TaskName: taskName, TestTypeId: testTypeId, CategoryId: cateId });
                            posting.done(function (data) {
                                $("div#og-add-new-task").dialog("close");
                                location.reload();
                            });
                        }
                    },
                    { text: "Cancel",
                        click: function () {
                            $("div#og-add-new-task").dialog("close");
                        }
                    }
                ]
            });
        });

        $(".mt-task-item-name").click(function () {
            var taskId = $(this).attr('id').match("[0-9]+").toString();
            var posting = $.post("/Admin/Processing.cshtml", { Action: "EditTask", TaskId: taskId });
            posting.done(function (data) {
                var dialogContent = $("<div title='Edit/Delete task'></div>").append(data);
                $(dialogContent).dialog({
                    buttons: [
                    { text: "Update", click: function () {
                        var newTaskName = $("#mt-edit-task-name").val().toString();
                        var newTestTypeId = $("#mt-edit-task-testType").find(":selected").val().toString();
                        var newCateId = $("#mt-edit-task-category").find(":selected").val().toString();
                        var posting = $.post("/Admin/Processing.cshtml", { Action: "UpdateTaskInfo", TaskId: taskId, TaskName: newTaskName, TestType: newTestTypeId, CateId: newCateId });
                        posting.done(function (data) {
                            $(dialogContent).dialog("close");
                            location.reload();
                        });
                    }
                    },
                    { text: "Delete", click: function () {
                        var posting = $.post("/Admin/Processing.cshtml", { Action: "DeleteTaskItem", TaskId: taskId });
                        posting.done(function () {
                            $(dialogContent).dialog("close");
                        });
                    }
                    }
                    ]
                });
            });
        });
    });

    //SET CSS FOR ACTIVE TAB
    $("#nav3").attr('class', 'componentActive');
    $("#nav3 a").css('color', 'blue');
    $("#sub-nav3").removeClass('hidden').addClass('shown');
</script>
<style>
    .mt-task-item-name:hover {
        cursor: pointer;
    }
</style>

@*-------------------- FILTER SECTION --------------------------------*@

<div>
    <form method="post">
        <div class="mt-line-up">
            <label><strong>Category :</strong></label>
            @Html.DropDownList("mt-cateList",null,Functions.getSelectListCategory(true),Request["mt-cateList"],null)
        </div>

        <div class="mt-line-up">
            <label><strong>Test Type :</strong></label>
            @Html.DropDownList("mt-testypeList",null,Functions.getSelectListTestType(true),Request["mt-testypeList"],null)
        </div>

        <div class="mt-line-up">
            <input name="mt-task-name" type="text" placeholder="Task name" value="@Request["mt-task-name"]" style="width: 250px">
        </div>

        <div class="mt-line-up">
            <button class="tk-button">Search</button>
            <button class="tk-button" id="og-add-new-task">Add new</button>
        </div>
    </form>
</div>


@* --------------- RESULT SECTION ---------------------*@

@if(IsPost){
    var chosenCategoryId = Request["mt-cateList"].AsInt();
    var chosenTestType = Request["mt-testypeList"].AsInt();
    var chosenTaskName = Request["mt-task-name"];

    //chosenCategoryId =0 or chosenTestType = 0 mean that user is choosing "All" in drop down list;
    var queryFilterCategory = chosenCategoryId ==0?"(SELECT Id FROM Categories) ": "(SELECT Id FROM Categories WHERE Id=@0) ";
    var queryFilterTestType = chosenTestType ==0?"(SELECT Id FROM TestType) ": "(SELECT Id FROM TestType WHERE Id=@1) ";
    
    var queryFilteredTasks = "SELECT * FROM Tasks WHERE " +
                        "CategoryId IN " + queryFilterCategory +
                        "AND TypeId IN " + queryFilterTestType +
                        "AND (Name LIKE @2)";

@*
    <p>@queryFilteredTasks</p>
    <p>@chosenCategoryId</p>
    <p>@chosenTestType</p>
    <p>@chosenTaskName</p>
  *@  
    var filterTasks = db.Query(queryFilteredTasks,chosenCategoryId,chosenTestType,"%"+chosenTaskName+"%");
    grid = new WebGrid(filterTasks,rowsPerPage:100,defaultSort: "CategoryId", canSort:false);
}
else{
   var listTasks = Functions.getAllTasks();
   grid= new WebGrid(listTasks,rowsPerPage:100,defaultSort: "CategoryId",canSort: false);
  
}

<div style="margin-top: 30px; margin-bottom: 30px">
    @grid.GetHtml(
        headerStyle: "gridheader",
        columns: grid.Columns(
            grid.Column(header:"No.",format:@<div style="text-align: center">@{counter++;}@counter</div>),
            grid.Column("Name",format:@<div class="mt-task-item-name" id="mt-task-item-@item.Id">@item.Name</div>),
            grid.Column("TypeId","Test Type",format:@<div>@Functions.getTestType(item.TypeId).Name</div>),
            grid.Column("CategoryId","Category",format:@<text>@Functions.getCategoryName(item.CategoryId)</text>)
        )    
    )  
</div>


@*------------- ADD NEW TASK DIALOG ----------------------*@

<div title="Add new task" id="og-add-new-task" class="hidden">
    <div style="margin: 10px;">
        <label style="font-size: smaller"><strong>Task Name</strong></label>
        <br>
        <input type="text" id="og-add-task-name">
    </div>
    <div style="margin: 10px">
        <label style="font-size: smaller"><strong>Test Type</strong></label>
        <br>
        @Html.DropDownList("og-mt-list-test-type",Functions.getSelectListTestType())
    </div>
    <div style="margin: 10px">
        <label style="font-size: smaller"><strong>Category</strong></label>
        <br>
        @Html.DropDownList("og-mt-category-list",Functions.getSelectListCategory())
    </div>
</div>