@{
    Layout="";
    var db = Database.Open("StarterSite");
    if(IsPost){
        if(Request["Action"]=="AddNewTask"){
            var counter = db.QueryValue("SELECT COUNT(Id) FROM Tasks")+1;
            var taskName = Request["TaskName"];
            var testTypeId = Request["TestTypeId"].AsInt();
            var cateId = Request["CategoryId"].AsInt();
            db.Execute("INSERT INTO Tasks VALUES (@0,@1,@2,@3)",counter,taskName,testTypeId,cateId);

            <p>@taskName</p>
            <p>@testTypeId</p>
            <p>@cateId</p>
            <p>@counter</p>
        }

        if(Request["Action"]=="EditTask"){
            var taskId = Request["TaskId"].AsInt();
            var taskInfo = Functions.getTaskInfo(taskId);
            <div style="margin: 10px;">
                <div style="font-size: smaller; padding: 5px"><strong>Task Name :</strong></div>
                <div><input value="@taskInfo.Name" style="width: 250px" id="mt-edit-task-name"></div>
            </div>
            <div style="margin: 10px;">
                <div style="font-size: smaller; padding: 5px"><strong>Test type :</strong></div>
                <div>@Html.DropDownList("mt-edit-task-testType",null,Functions.getSelectListTestType(),taskInfo.TypeId,null)</div>
            </div>
            <div style="margin: 10px;">
                <div style="font-size: smaller; padding: 5px"><strong>Category :</strong></div>
                <div>@Html.DropDownList("mt-edit-task-category",null,Functions.getSelectListCategory(),taskInfo.CategoryId,null)</div>
            </div>
        }

        if(Request["Action"]=="UpdateTaskInfo"){
            var taskId= Request["TaskId"].AsInt();
            var newTaskName = Request["TaskName"];
            var newTestType = Request["TestType"].AsInt();
            var newCategoryId = Request["CateId"].AsInt();
            db.Execute("UPDATE Tasks SET Name=@0, TypeId=@1,CategoryId=@2 WHERE Id=@3",newTaskName,newTestType,newCategoryId,taskId);
            <p>@taskId</p>
            <p>@newTaskName</p>
            <p>@newTestType</p>
            <p>@newCategoryId</p>
        }

        if(Request["Action"]=="DeleteTaskItem"){
            var taskId= Request["TaskId"].AsInt();
            db.Execute("DELETE FROM Tasks WHERE Id=@0",taskId);
        }

        if(Request["Action"]=="AddNewCate"){
            var cateName = Request["CateName"];
            var counter = db.QueryValue("SELECT COUNT(Id) FROM Categories")+1;
            db.Execute("INSERT INTO Categories VALUES(@0,@1)",counter,cateName);
        }

        if(Request["Action"]=="EditCategoryItem"){
            var cateId = Request["CateId"].AsInt();
            var cateInfo = Functions.getCategoryName(cateId);
            <div style="margin: 10px;">
                <label style="font-size: smaller; padding: 5px"><strong>Category Name :</strong></label>
                <input value="@cateInfo" style="width: 250px" id="mt-edit-category-name">
            </div>
        }

        if(Request["Action"]=="UpdateCategoryItem"){
            var cateId = Request["CateId"].AsInt();
            var cateName = Request["CateName"];
            db.Execute("UPDATE Categories SET Name=@0 WHERE Id=@1",cateName,cateId);
        }

        /*------------------MANAGE MEMBER SECTION-------------------------*/

        if(Request["Action"]=="EditMemberDetails" ||true){
            var userId= Request["UserId"].AsInt();
            var userInfo = Functions.getUserInfo(userId);
            <div id="vm-member-info-detail-dialog">
                 <fieldset>
                    <ol>
                        <li class="firstName">
                            <div class="regis-component-small"><label for="firstName" @if(!ModelState.IsValidField("firstName")){<text>class="error-label"</text>}>First Name :</label></div>
                            <div class="regis-component-small"><input type="text" id="firstName" name="firstName" value="@userInfo.FirstName" @Validation.For("firstName") /></div>
                            @* Write any email validation errors to the page *@
                            @Html.ValidationMessage("firstName")
                        </li>
                        <li class="lastName">
                            <div class="regis-component-small"><label for="lastName" @if(!ModelState.IsValidField("lastName")){<text>class="error-label"</text>}>Last Name :</label></div>
                            <div class="regis-component-small"><input type="text" id="lastName" name="lastName" value="@userInfo.LastName" @Validation.For("lastName") /></div>
                            @* Write any email validation errors to the page *@
                            @Html.ValidationMessage("lastName")
                        </li>
                        <li class="email">
                            <div class="regis-component-small"><label for="email" @if(!ModelState.IsValidField("email")){<text>class="error-label"</text>}>Email address :</label></div>
                            <div class="regis-component-small"><input type="text" id="email" name="email" value="@userInfo.Email" @Validation.For("email") /></div>
                            @* Write any email validation errors to the page *@
                            @Html.ValidationMessage("email")
                        </li>
                        <li>
                            <div class="regis-component-small"><label for="employeeId" @if(!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Employee Id :</label></div>
                            <div class="regis-component-small"><input type="text" id="employeeId" name="employeeId" @Validation.For("employeeId") /></div>
                            @* Write any password validation errors to the page *@
                            @Html.ValidationMessage("employeeId")
                        </li>
                        <li class="Supervisor">
                           <div class="regis-component-small"><label for="supervisor">Project Manager :</label></div>
                           <div class="regis-component-small">@Html.DropDownList("supervisor",@Functions.getResources(role: "PM"))</div>
                        </li>
                        <li class="roles">
                            <div style="padding: 5px">@Helpers.RolesList()</div>
                        </li>
                    </ol>
    </fieldset>
            </div>
        }
    }
}

