@{
    Layout="~/Admin/_Layout.cshtml";
    var db = Database.Open("StarterSite");
    var projectId = Request["ProjectId"];
    var feedbackMsg="";
    
    if(IsPost){
        var projectDescription = Request["projectDescription"] ;
        var datepickerStartedDate = Request["datepickerStartedDate"];
        var datepickerEndDate = Request["datepickerEndDate"];

        if(projectDescription!=null && projectDescription !="" && datepickerStartedDate !="" && datepickerEndDate!=""){
            var updateProjectQuery = "UPDATE Projects SET Description=@0, StartedDate=@1, EndDate=@2 WHERE ProjectId=@3";
            db.Execute(updateProjectQuery,projectDescription,datepickerStartedDate,datepickerEndDate,projectId);
            Response.Redirect("~/Admin/ManageProjects");
        }
    }

    var query = "SELECT * FROM Projects WHERE ProjectId=@0"; 
    var data = db.QuerySingle(query,projectId);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css" />
        <script>
            $(function () {
                $("#datepickerStartedDate").datepicker({ showAnim: "fold" });
                $("#datepickerEndDate").datepicker({ showAnim: "fold" });
                $("#submit").click(function () {
                    $("input[name=projectDescription]").attr('value',$("#projectDescription").val());
                });
            });               
        </script>
    </head>
    <body>
        <form method="post" action="">
            <div id="projectName">Project: @data.ProjectName</div>

            <div class="projectHeader">Project Description</div>
            <div id="description"><textarea id="projectDescription">@data.Description</textarea></div>            
            <div>
                <div class="projectHeader">StartedDate</div>
                <input id="datepickerStartedDate" value="@data.StartedDate.ToString("d")" name="datepickerStartedDate">            
            </div>

            <div>
                <div class="projectHeader">EndDate</div>
                <input id="datepickerEndDate" value="@data.EndDate.ToString("d")" name="datepickerEndDate">
            </div>

            <div id="member-in-project">            
                @RenderPage("~/Admin/GetMembers.cshtml")
            </div>

            <input type="hidden" name="projectDescription" value="">
            <input type="hidden" name="projectId" value="@projectId">
            <input id="submit" type="submit" value="Update">
            <div class="feedback">@feedbackMsg</div>
        <a href="~/Admin/GetMembers.cshtml">GetMembers</a>
        </form>
        
    </body>
</html>
